table {
    width: 100%;
}

td {
    text-align: left;
}

th {
    width: 25%;
    text-align: center;
}

button {
    margin: 5%;
    background-color: #FEECE9;
    width: 25%;
}
table{
    background-color: #FEECE9;
}
table button{
    background-color: #2F3A8F;
}
.comprar{
    background-color: #FE7E6D;
    margin-left: 25%;
}
.sinDatos{
    display: flex;
}
.sinDatos h1{
    margin-right: 25%;
    margin-top: 2%;
}