input{
    width: 80%;
}
.container {
    text-align: center;
}

.row {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.row * {
    width: 40%;
    height: 100%;
}

span {
    margin-top: 5%;
}

mat-form-field{
    width: 100%;
}

mat-card {
    width: 50%;
    text-align: center;
    background-color: #FEECE9;
    margin-top: 3%;
    padding: 3% 1%;
    width: 50%;

}

button {
    width: 40%;
    background-color: #FEECE9;
    border-radius: 5px;
}
p{
    margin-left: 2%;
    margin-right: 0%;
    width: 25%;
}
a{
    color: #2F3A8F;
}