div{
    background-color: #FE7E6D;
    text-align: center;
    position: fixed;
    top: 0px;
    width: 20%;
    height: 20%;
    margin-left: 15%;
    margin-top: 5%;
    border: 1px #2F3A8F solid;
    border-radius: 15px;
}
div p {
    margin-top: 15%;
}