<div>
    <span>Nombre de Usuario: {{nombreUsuario}}</span>
<mat-list>
    <a mat-list-item (click)="cerrarSesion()" (click)="cerrar()">
        <span mat-line>Cerrar Sesion</span>

        <span class=" material-icons ">
            close
            </span>


    </a>
    <a mat-list-item routerLink="cambiarContrasenna" (click)="cerrar()">
        <span class="material-icons ">
            password
            </span>

        <span mat-line>Cambiar Contrasenna</span>
    </a>
    <a mat-list-item routerLink="ProductosComprados" (click)="cerrar()">
        <span class="material-icons ">
            shopping_bag
            </span>

        <span mat-line>Ver servicios obtenidos</span>
    </a>

    <a  mat-list-item routerLink="PanelInstrumentos" (click)="cerrar()" *ngIf="permisoParaPanelInstrumentos">
        <span class="material-icons">
            directions_car
            </span>

        <span mat-line>Panel de instrumentos</span>
    </a>

    <a  mat-list-item routerLink="graficas" (click)="cerrar()" *ngIf="permisoParaPanelInstrumentos">
        <span class="material-icons">
            directions_car
            </span>

        <span mat-line>Graficos </span>
    </a>


  <a mat-list-item routerLink="PanelControlAdmin" (click)="cerrar()" *ngIf="tipoUsuario=='Administrador'">
        <span class="material-icons">
            note
            </span>

        <span mat-line>Panel de control del administrador</span>
    </a>
    

</mat-list>
</div>