/* You can add global styles to this file, and also import other style files */

body{
    position: absolute;
    background-color: #CCD1E4;
    height: 100%;
    width: 100%;
}
/*
Paleta de colores https://colorhunt.co/palette/feece9ccd1e4fe7e6d2f3a8f
*/