<div class="contenedorDeProductos">
    <table class="tablaProducto productoContainer id{{producto.idProducto}}" *ngFor="let producto of arrayProductos;" >
        <tr>
            <div class="contenedorInfo">
                <td><label>Nombre : </label><span class="dato"> {{producto.nombre}}</span><input id="nombre{{producto.idProducto}}" hidden value="{{producto.nombre}}"></td>
            </div>
        </tr>
        <tr>
            <div class="contenedorInfo">
                <td><label>Descripcion: </label><span class="dato"> {{producto.descripcion}}</span><textarea id="descripcion{{producto.idProducto}}" hidden width="100px" value="{{producto.descripcion}}"></textarea></td>
            </div>
        </tr>
        <tr>
            <div class="contenedorInfo " >
                <td><label>Precio: </label><span class="dato"> {{producto.precio}} €</span><input id="precio{{producto.idProducto}}" hidden value="{{producto.precio}}"></td>
                <td rowspan="3" class="tdImagen imagen"><img src="{{producto.imagen}}" width="250px" height="170px">
                    <div class="inputImg" hidden><label >Cambiar la imagen</label><input id="imagen{{producto.idProducto}}" value="{{producto.imagen}}"></div></td>

            </div>
        </tr>
        <div class="contenedorInfo">
            <label>Paquete:</label>
            <div *ngFor="let producto of producto.paquete;" class="objetosDiv">
                <label class="producto">{{producto.objeto}}</label>
                <span class="material-icons botonesEliminar" (click)="eliminarObjeto(producto.objeto,producto.producto)" hidden>
                    delete
                    </span>

            </div>
            
            <div hidden class="botonesEliminar">
                <label>Nombre objeto</label><input id="nuevoObjeto{{producto.idProducto}}" [(ngModel)]="nombreProductoNuevo">
                <button mat-stroked-button   (click)="annadirObjeto (producto.idProducto)" hidden class="botonesEliminar botonEliminarObjeto">Annadir Objetos</button>
            </div>
        </div>
        <tr class="buttons">
            <td><button mat-stroked-button  (click)="eliminar(producto.idProducto)">Eliminar</button></td>
            <td><button mat-stroked-button  (click)="cambiar(producto.idProducto)">Cambiar</button></td>
            <td></td>
        </tr>
    </table>
</div>

<app-alerta id="cambiar" idProducto="{{idProducto}}" accion="{{accion}}" (pulsado)="confirmar($event)" style="display: none;"></app-alerta>




