

<table class="fondo temaOscuro">
    <tr>
        <td id="velocidad">
            Velocidad Media
            <span>{{datos.Velocidad}} Km/H</span>
        </td>
        <td id="distancia">
            Media Distancia
            <span>{{datos.Distancia}} Km</span>
        </td>
    </tr>
    <tr>
        <td id="hora">
            Hora preferida para viajar
            <span>{{datos.Hora}}</span>
        </td>
        <td id="duracion">
            Duracion media
            <span>{{datos.Duracion}} min</span>
        </td>
    </tr>
    <tr>
        <td id="consumo" colspan="2">
            Media Total Consumo
            <span>{{datos.Consumo}} L/100Km</span>
        </td>
        
    </tr>
</table>