div {
    display: flex;
    align-items: center;
    justify-content: center;
}

mat-card {
    width: 50%;
    text-align: center;
    background-color: #FEECE9;
    margin-left: 29%;
}

form{
    margin-top: 3%;
}
button {
    width: 40%;
}
p{
    margin-left: 2%;
    margin-right: 0%;
    width: 25%;
}