div {
    display: flex;
    align-items: center;
    justify-content: center;
}

mat-card {
    width: 50%;
    text-align: center;
    background-color: #CCD1E4;
    color: black;
}

form {
    margin-top: 3%;
}

::ng-deep .ng-tns-c90-2 {
    margin: 0%;

}

button {
    width: 40%;
    background-color: #FE7E6D;
}