<div class="contenedorDeProductos">
    <table class="tablaProducto productoContainer" >
        <tr>
            <div class="contenedorInfo">
                <td><label>Nombre :  </label><input type="text" [(ngModel)]="nombre" /></td>
            </div>
        </tr>
        <tr>
            <div class="contenedorInfo">
                <td><label>Precio :  </label><input type="number" [(ngModel)]="precio" /></td>
            </div>
        </tr>
        <tr>
            <div class="contenedorInfo">
                <td><label>Descripcion :  </label><input type="number" [(ngModel)]="descripcion" /></td>
            </div>
        </tr>
        <tr>
            <div class="contenedorInfo imagen">
                <td><label>Imagen :  </label><input type="text" [(ngModel)]="imagen" /></td>
                <td rowspan="3" class="tdImagen"><img src="{{imagen}}" width="250px" height="170px">
                   

            </div>
        </tr>
        <tr><button (click)="annadirProducto()">Añadir producto</button></tr>
    </table>
</div>

