
.contenedorDeProductos{
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 20%;
    left: 8%;
    width: 90%;
}
.productoContainer{
    width: 60%;
    background-color: #FEECE9;
    height: 100px;
    margin-top: 3%;
    align-self: center;

}
button{
    background-color: #FE7E6D;
    height: 35px;
}
img{
    margin-right: 2%;
}

.contenedorInfo,.producto{
     margin-left: 2%; 
}

.buttons {
    display: flex;
    justify-content: flex-end;
}

.buttons td{
    width: 49%;
    display: flex;
    justify-content:right;
    /* margin-bottom: 1%;
    margin-top: 1%; */
}
.buttons td button{
    margin: 0 auto;
}

.tdImagen{
    width: 30%;
    
}

@media only screen and (max-width: 752px) {
    
    .contenedorDeProductos{
        display: flex;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        left: 50%;
        width: 5%;
    }
    .imagen{
        display: flex;
        flex-wrap: wrap;
        width: 50%;
    }
    .imagen img{
        width: 180px;
    }
}