.row{
    height: 26.5%;
    width: 99%;
}
.fondo{
    padding-top: 5%;
    width: 100%;
    height: 94%;
}

.fondo tr td {
    width: 33%;

}

.temaOscuro {
    background-image: url(../../assets/media/fondosPantalla/fibraCarbono.jpg);
    color: white;
}

.temaCalro {
    background-image: url(../../assets/media/fondosPantalla/blanco.jpg);
    color: black;
}
.temaOscuro div div{
    width: 33%;
    margin-left: 10%;
    margin-top: 1%;
    font-size: 150%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    border: 1px yellow solid;
    border-radius: 15px;
}
.temaClaro div div{
    width: 33%;
    margin-left: 1%;
    margin-top: 1%;
    font-size: 150%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    border: 1px black solid;
    border-radius: 15px;
}
.cambioTema{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.cambioTema h1{
    width: 100%;
    text-align: center;
}