.row{
    height: 26.5%;
    width: 99%;
}
.fondo{
    padding-top: 1%;
    padding-bottom: 1%;
    width: 100%;
    height: 94%;
    border-collapse: separate;
  border-spacing: 10px 5px;
}

.fondo tr td {
    width: 33%;
    font-size:40px ;
    margin-left: 1%;
    border-radius: 15px;
    text-align: center;
}

#counsumoActual{
    border: 2px blue solid;
}

#consumoMedio{
    border: 2px blueviolet solid;
}
#logoRetroAssistant{
    border: 2px green solid;
}
#temperatura{
    border: 2px yellow solid;
}
#velocidad{
    border: 2px red solid;
}
#Distanciatrasera{
    border: 2px rgb(8, 112, 107) solid;
}
#FechaHora{
    border: 2px rgb(255, 255, 255) solid;
}
#DistanciaRecorrida{
    border: 2px rgb(8, 219, 8) solid;
}
#porcentajeCombustible{
    border: 2px rgb(141, 141, 29) solid;
}
.temaOscuro {
    background-image: url(../../assets/media/fondosPantalla/fibraCarbono.jpg);
    color: white;
}

.temaCalro {
    background-image: url(../../assets/media/fondosPantalla/blanco.jpg);
    color: black;
}

.cambioTema{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.cambioTema h1{
    width: 100%;
    text-align: center;
}