
<table class="fondo temaOscuro">
    <tr>
        <td id="counsumoActual">
            Consumo actual
            <span>{{datos.litros100km}}</span>
        </td>
        <td id="consumoMedio">
            Consumo medio
            <span>{{datos.mediaConsumo}}</span>
        </td>
        <td id="logoRetroAssistant">
            <img src="../../assets/logoRetroAssistant.png">
        </td>
    </tr>
    <tr>
        <td id="temperatura">
            Temperatura del acceite
            <span>{{datos.temperatura}}</span>
        </td>
        <td id="velocidad">
            Velocidad
            <span>{{datos.velocidad}}Km/h</span>
        </td>
        <td id="Distanciatrasera">
            Distancia trasera
            <span>{{datos.distanciaTrasera}}</span>
        </td>
    </tr>
    <tr>
        <td id="FechaHora">
            Fecha y Hora
            <span>{{datos.fechaHora}}</span>
        </td>
        <td id="DistanciaRecorrida">
            Distancia recorrida
            <span>{{datos.distanciaRecorrida}}</span>
        </td>
        <td id="porcentajeCombustible">
            Porcentasje de combustible
            <span>{{datos.porcentajeCombustible}}%</span>
        </td>
    </tr>
</table>

<div class="cambioTema">
    <h1>Elige tema</h1>
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle value="bold" (click)="cambiarTemaClaro()">Claro</mat-button-toggle>
        <mat-button-toggle value="italic" (click)="cambiarTemaOscuro()">Oscuro</mat-button-toggle>
        <mat-button-toggle value="underline">Analogico</mat-button-toggle>
      </mat-button-toggle-group>
      
</div>