<div class="contenedor">
<mat-toolbar  style="clear: both;">
    <div routerLink="/Inicio">
        <!--  <h4 id="Inicio">Inicio</h4>-->
        <span class="material-icons">
            home
            </span>
    </div>

    <div>
        <mat-form-field color="primary">
            <mat-label>Servicios</mat-label>
            <mat-select color="primary">
                <mat-option *ngFor="let art of productos" [routerLink]="['/Producto',art.nombre]">{{art.nombre}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <span class="example-spacer"></span>
    <div (click)="irCarrito()" id="carrito ">
        <!--  <h4> Carrito</h4>-->
        <span class="material-icons ">
            shopping_cart
            </span>
    </div>

    <div (click)=" abrirOpcionesUsuario() ">
        <!--  <h4> Usaurio</h4>-->
        <span class=" material-icons ">
        account_circle
        </span>
    </div>


</mat-toolbar>
</div>