<div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>ID</mat-label>
          <input matInput (keyup) ="filtrar()" id="id" class="filtrado">
        </mat-form-field>
      </th>
      <th scope="col">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Usuario</mat-label>
          <input matInput (keyup) ="filtrar()" id="Usuario" class="filtrado">
        </mat-form-field>
      </th>
      <th scope="col">
        <mat-form-field appearance="fill">
          <mat-label>Tipo Usuario</mat-label>
          <select matNativeControl required (change) ="filtrar()" id="TipoUsuario" class="filtrado">
            <option value="">Las 2 </option>
            <option value="Usuario">Usuario</option>
            <option value="Administrador">Administrador</option>
          </select>
        </mat-form-field>
      </th>
      <th scope="col">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput (keyup) ="filtrar()" id="Email" class="filtrado">
        </mat-form-field>
      </th>
      <th scope="col">Cambiar usuario</th>
      <th scope="col">Eliminar Usuario</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let usuario of usuarios">
      <th scope="row">{{usuario.id}}</th>
      <td>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Usuario</mat-label>
          <input matInput id ="usuario{{usuario.id}}" value="{{usuario.Usuario}}" >
        </mat-form-field>
      </td>
      <td>
        <mat-form-field appearance="fill">
          <mat-label>Tipo Usuario</mat-label>
          <select matNativeControl required id="opcionesUsuario{{usuario.id}}" value = "{{usuario.TipoUsuario}}">
            <option value="Usuario">Usuario</option>
            <option value="Administrador">Administrador</option>
          </select>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput id ="Email{{usuario.id}}" value="{{usuario.Email}}">
        </mat-form-field>
      </td>
      <td>

        <button mat-stroked-button (click)="cambiarUsuario(usuario.id)">Cambiar</button>
        
      </td>
      <td>
        <button mat-stroked-button
        (click)="eliminarUsuario (usuario.id)">Eliminar</button>
      </td>
    </tr>
   
  </tbody>
</table>
<app-alerta id="cambiar" idProducto="{{idUsuario}}" accion="{{accion}}" (pulsado)="confirmar($event)" style="display: none;"></app-alerta>
</div>