
    <table class="tablaProducto" *ngFor="let producto of arrayProductos;" class="productoContainer" >
        <tr>
            <div class="contenedorInfo">
                <td><label>Nombre : </label><span> {{producto.nombre}}</span></td>
            </div>
             
            
        </tr>
        <tr>
            <div class="contenedorInfo">
            <td><label>Descripcion: </label><span> {{producto.descripcion}}</span></td>
            </div>
        </tr>
        <tr>
            <div class="contenedorInfo">
            <td><label>Precio: </label><span> {{producto.precio}} €</span></td>
            <td rowspan="3" class="tdImagen"><img src="{{producto.imagen}}" width="250px" height="170px"></td>
            
            </div>
        </tr>
        <div class="contenedorInfo">
            <label>Paquete:</label>
            <p *ngFor="let producto of producto.paquete;" class="producto">{{producto.objeto}}</p>
        </div>
        <tr class="buttons">
            <td><button  (click)="eliminar(producto.imagen)">Eliminar</button></td>
            <td><button id="{{producto.id}}">Cambiar</button></td>
            <td></td>
        </tr>
    </table>
