<div>
<mat-nav-list>
    <a mat-list-item (click)="cerrarSesion()" (click)="cerrar()">
        <span mat-line>Cerrar Sesion</span>

        <span class=" material-icons ">
            close
            </span>


    </a>
    <a mat-list-item routerLink="cambiarContrasenna" (click)="cerrar()">
        <span class="material-icons ">
            password
            </span>

        <span mat-line>Cambiar Contrasenna</span>
    </a>
    <a mat-list-item routerLink="ProductosComprados" (click)="cerrar()">
        <span class="material-icons ">
            shopping_bag
            </span>

        <span mat-line>Ver servicios obtenidos</span>
    </a>

</mat-nav-list>
</div>