table {
    width: 100%;
}

td {
    text-align: center;
}

th {
    width: 25%;
    text-align: right;
}

button {
    margin: 5%;
    background-color: #FEECE9;
    width: 100%;
}
table{
    background-color: #FEECE9;
}
table button{
    background-color: #2F3A8F;
}
.comprar{
    background-color: #FE7E6D;

}
.sinDatos{
    display: flex;
}
.sinDatos h1{
    margin-right: 25%;
    margin-top: 2%;
}
.eliminar{
    width: 30%;
}
.opciones{
    margin-left: 0%;
    width: 95%;
}

:host th{
    text-align: center;
}