<div class="container">

    <figure id="descripcionProducto" class="row">
        <img src="../../assets/logoRetroAssistant.png" class="col-2">
        <figcaption class="col-10">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore mollitia aliquid vitae quam dignissimos rerum commodi, animi voluptatum fugiat, esse dolore voluptates eveniet quasi facere qui veniam ut perferendis ratione? Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Recusandae qui obcaecati repellat enim fugiat amet fuga modi quia excepturi id, asperiores, tenetur veritatis! Quidem dolor magnam assumenda. Vitae, et nesciunt.
        </figcaption>
    </figure>

    <div class="row">
        <figure id="descripcionProducto" class="col-8 row">

            <figcaption class="col-10">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore mollitia aliquid vitae quam dignissimos rerum commodi, animi voluptatum fugiat, esse dolore voluptates eveniet quasi facere qui veniam ut perferendis ratione? Lorem ipsum dolor sit amet
                consectetur adipisicing elit. Recusandae qui obcaecati repellat enim fugiat amet fuga modi quia excepturi id, asperiores, tenetur veritatis! Quidem dolor magnam assumenda. Vitae, et nesciunt.
            </figcaption>
            <img src="../../assets/logoRetroAssistant.png" class="col-2">
        </figure>
        <figure id="descripcionProducto" class="col-4 row">
            <img src="../../assets/logoRetroAssistant.png" class="">
            <figcaption class="">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore mollitia aliquid vitae quam dignissimos rerum commodi, animi voluptatum fugiat, esse dolore voluptates eveniet quasi facere qui veniam ut perferendis ratione? Lorem ipsum dolor sit amet

            </figcaption>

        </figure>
    </div>

    <div class="row">
        <figure id="descripcionProducto" class="col-4 row">
            <img src="../../assets/logoRetroAssistant.png" class="">
            <figcaption class="">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore mollitia aliquid vitae quam dignissimos rerum commodi, animi voluptatum fugiat, esse dolore voluptates eveniet quasi facere qui veniam ut perferendis ratione? Lorem ipsum dolor sit amet

            </figcaption>

        </figure>
        <figure id="descripcionProducto" class="col-8 row">

            <figcaption class="col-10">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore mollitia aliquid vitae quam dignissimos rerum commodi, animi voluptatum fugiat, esse dolore voluptates eveniet quasi facere qui veniam ut perferendis ratione? Lorem ipsum dolor sit amet
                consectetur adipisicing elit. Recusandae qui obcaecati repellat enim fugiat amet fuga modi quia excepturi id, asperiores, tenetur veritatis! Quidem dolor magnam assumenda. Vitae, et nesciunt.
            </figcaption>
            <img src="../../assets/logoRetroAssistant.png" class="col-2">
        </figure>

    </div>
</div>