<div>

    <figure id="descripcionProducto" (click)="visibilizarDescripcion ($event)">
        <img src="../../assets/logoRetroAssistant.png">
        <figcaption (dblclick)="invisibilizarDescripcion($event)">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore mollitia aliquid vitae quam dignissimos
            rerum commodi, animi voluptatum fugiat, esse dolore voluptates eveniet quasi facere qui veniam ut
            perferendis ratione? Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Recusandae qui obcaecati repellat enim fugiat amet fuga modi quia excepturi
            id, asperiores, tenetur veritatis! Quidem dolor magnam assumenda. Vitae, et nesciunt.
        </figcaption>
    </figure>


    <figure id="descripcionProducto" (click)="visibilizarDescripcion ($event)">
        <img src="../../assets/logoRetroAssistant.png">
        <figcaption>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore mollitia aliquid vitae quam dignissimos
            rerum commodi, animi voluptatum fugiat, esse dolore voluptates eveniet quasi facere qui veniam ut
            perferendis ratione? Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Recusandae qui obcaecati repellat enim fugiat amet fuga modi quia excepturi
            id, asperiores, tenetur veritatis! Quidem dolor magnam assumenda. Vitae, et nesciunt.
        </figcaption>
    </figure>


    <figure id="descripcionProducto" (click)="visibilizarDescripcion ($event)">
        <img src="../../assets/logoRetroAssistant.png">
        <figcaption>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore mollitia aliquid vitae quam dignissimos
            rerum commodi, animi voluptatum fugiat, esse dolore voluptates eveniet quasi facere qui veniam ut
            perferendis ratione? Lorem ipsum dolor sit amet

        </figcaption>

    </figure>


    <figure id="descripcionProducto" (click)="visibilizarDescripcion ($event)">
        <img src="../../assets/logoRetroAssistant.png">
        <figcaption>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore mollitia aliquid vitae quam dignissimos
            rerum commodi, animi voluptatum fugiat, esse dolore voluptates eveniet quasi facere qui veniam ut
            perferendis ratione? Lorem ipsum dolor sit amet

        </figcaption>

    </figure>

    
    <figure id="descripcionProducto" (click)="visibilizarDescripcion ($event)">
        <img src="../../assets/logoRetroAssistant.png">
        <figcaption>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore mollitia aliquid vitae quam dignissimos
            rerum commodi, animi voluptatum fugiat, esse dolore voluptates eveniet quasi facere qui veniam ut
            perferendis ratione? Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Recusandae qui obcaecati repellat enim fugiat amet fuga modi quia excepturi
            id, asperiores, tenetur veritatis! Quidem dolor magnam assumenda. Vitae, et nesciunt.
        </figcaption>

    </figure>


</div>