#descripcionProducto {
    display: flex;
    align-items: center;
    justify-content: center;
}

figcaption{
    visibility: hidden;
    margin-right: 5%;
}

img{
    position: relative;
    left: 45%;
    top: auto;
    margin-right: 3%;
}